<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/menu.js"></script>
  <link rel="stylesheet" href="/stylesheets/admUsersPage.css">
</head>

<body>
  <main>
    <h1>Administrar Usuários</h1>
    <form class="filtros" method="POST" action="/admin/buscar-usuarios">
      <label for="grupo">Grupo:</label>
      <select id="grupo" name="grupo">
        <option value="">Todos</option>
        <% grupos.forEach(grupo=> { %>
          <option value="<%= grupo.nome_equipe %>">
            <%= grupo.nome_equipe %>
          </option>
          <% }); %>
      </select>


      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" placeholder="Procurar por nome...">

      <label for="data">Data:</label>

      <input type="date" id="data" name="data">
      <button type="submit" class="buscar">Buscar</button>
      <button type="button" class="exportar">Exportar<ion-icon name="download-outline"
          size="medium"></ion-icon></button>
      <button type="button" class="deletar">Deletar <ion-icon name="trash-outline"></ion-icon></button>
      <button type="button" class="criar">Criar +</button>
    </form>

    <section class="tabela-usuarios">
      <table>
        <thead>
          <tr>
            <th>Selecionar</th>
            <th>Data de Criação</th>
            <th>Nome do usuário</th>
            <th>Data Nascimento</th>
            <th>Telefone</th>
            <th>Status</th>
            <th>Admin</th>
            <th>Email</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <% usuarios.forEach(usuario=> { %>
            <tr>
              <td><input type="checkbox" value="<%= usuario.id_usuario %>" /></td>
              <td>
                <%= usuario.dataCriacao.toLocaleDateString() %>
              </td>
              <td>
                <%= usuario.nome_usuario %>
              </td>
              <td>
                <%= usuario.dataNascimento.toLocaleDateString() %>
              </td>
              <td>
                <%= usuario.numeroTelefone %>
              </td>
              <td>
                <%= usuario.status %>
              </td>
              <td>
                <%= usuario.email_usuario %>
              </td>
              <td><button><ion-icon name="color-wand-outline" style="font-size: 1.3rem;"></ion-icon></button></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </section>

  </main>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
  initMenu('admin', true); // passa "true" para indicar que é admin
</script>
</html>