<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/minilogo.png" type="image/png">
  <title>Taskfy - Tarefas Grupo</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/menu.js"></script>
  <link rel="stylesheet" href="/stylesheets/cardFavoritas.css">
  <link rel="stylesheet" href="/stylesheets/groupsPage.css">
</head>

<body>
  <div style="display: flex; flex-direction: column; width: 100%;">
    <div class="group-container">
      <div style="display: flex; flex-direction: column;">
        <h2><%= nomeGrupo %></h2>
        <h3>Por: <%= donoGrupo %> </h3>
      </div>
        
      <% if (tarefas.length > 0) { %>
        <% tarefas.forEach(tarefa => { %>
          <a href="/tarefa/<%= tarefa.id_tarefa %>" class="card-link">
            <div class="card">
              <div class="card-header"><%= tarefa.nome_tarefa %></div>
              <div class="card-body">
                <div class="card-title">
                  <span><%= new Date(tarefa.prazoTarefa).toLocaleDateString() %></span>
                </div>
                <div class="card-description"><%= tarefa.descricao_tarefa %></div>
              </div>
            </div>
          </a>
        <% }) %>
      <% } else { %>
        <p>Nenhuma tarefa encontrada neste grupo.</p>
      <% } %>
      <% if(idDonoGrupo === global.usucodigo){ %>
      <a href="/createtarefa/<%= idGrupo %>" class="card-criarGP">
        <div class="new-group-card"><ion-icon name="add-outline"></ion-icon></div>
      </a>
      <% } %>
    </div>
  </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
  initMenu('grupos');
</script>
</html>